@if (quiz(); as quiz) {
    @if (solved()) {
        <qz-quiz-stats />
    } @else {
        <qz-quiz-step [step]="quiz.currentStep()" (answerSelected)="onAnswerSelected($event)" />
        @if (!quiz.isFirstStep) {
            <button type="button" (click)="quiz.gotoPreviousStep()">Previous</button>
        }
        @if (!quiz.isLastStep) {
            <button type="button" (click)="quiz.gotoNextStep()">
                {{ quiz.currentStep().chosenAnswer() ? 'Next' : 'Skip' }}
            </button>
        }
        @if (quiz.isLastStep) {
            <button type="button" (click)="this.solved.set(true)">Submit</button>
        }
    }
}
