:host {
    display: block;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 2rem 0;

    button {
        background: transparent;
        border: none;
        color: #5ccfe6;
    }
}
