<strong>Congratulations! You have finished the quiz</strong>
<ul>
    <li>
        Total questions: <strong>{{ quiz()?.stats()?.totalQuestions }}</strong>
    </li>
    <li>
        Answered questions: <strong>{{ quiz()?.stats()?.answeredQuestions }}</strong>
    </li>
    <li>
        Skipped questions: <strong>{{ quiz()?.stats()?.skippedQuestions }}</strong>
    </li>
    <li>
        Correct answers: <strong>{{ quiz()?.stats()?.correctAnswers }}</strong>
    </li>
    <li>
        Time spent: <strong>{{ quiz()!.stats()!.timeSpent | time }}</strong>
    </li>
</ul>

<button type="button" class="button-link" (click)="application.endQuiz()">Go to dashboard</button>
